.main {
  font-weight: bold;
  color: darkblue;
}

.company {
  color: dodgerblue;
  text-decoration: none;
  cursor: pointer;
}

.company:hover {
  color: darkblue;
}

.company:active {
  color: red;
}
