<form [formGroup]="form" class="mt-5">
  <div class="row d-flex justify-content-between mx-5">
    <div class="col-sm-2 text-center">
      <label for="page" class="form-label"
        >PAGE<span class="small">(required)</span></label
      >
      <input
        type="number"
        class="form-control"
        id="page"
        formControlName="page"
      />
    </div>
    <div class="col-sm-4 text-center">
      <label class="form-label" for="category"
        >CATEGORY<span class="small">(required)</span></label
      >
      <select
        id="category"
        class="form-select"
        aria-label="Default select example"
        formControlName="category"
      >
        <option value="category=Accounting">Accounting</option>
        <option value="category=Administration%20and%20Office">
          Administration and Office
        </option>
        <option value="category=Data%20Science">Data Science</option>
        <option value="category=Law">Law</option>
        <option value="category=Marketing">Marketing</option>
        <option value="category=Software%20Engineer">Software Engineer</option>
        <option value="category=Transportation%20and%20Logistics">
          Transportation and Logistics
        </option>
      </select>
    </div>
    <div class="col-sm-3 text-center">
      <label class="form-label" for="entry-level">ENTRY LEVEL</label>
      <select
        id="entry-level"
        class="form-select"
        aria-label="Default select example"
        formControlName="entryLevel"
      >
        <option value="&level=Entry%20Level">Entry Level</option>
        <option value="&level=Mid%20Level">Mid Level</option>
        <option value="&level=Senior%20Level">Senior Level</option>
        <option value="&level=management">Management</option>
        <option value="">All</option>
      </select>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-4 mb-3">
    <div class="col-4 text-center">
      <p>
        <span class="location">LOCATION</span>
        <span (click)="showLocationInput()" class="plus ms-3">+</span>
      </p>
    </div>
  </div>
  <div class="row d-flex justify-content-evenly mx-3 loca" *ngIf="showLocation">
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
          value="&location=Amberg%2C%20Germany"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          Germany, Amberg
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
          value="&location=Aba%2C%20Nigeria"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          Nigeria, Aba
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
          value="&location=Rome%2C%20Italy"
        />
        <label class="form-check-label" for="flexRadioDefault3">
          Italy, Rome
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault4"
          value="&location=Zurich%2C%20Switzerland"
        />
        <label class="form-check-label" for="flexRadioDefault4">
          Switzerland, Zurich
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault5"
          value="&location=Tokyo%2C%20Japan"
        />
        <label class="form-check-label" for="flexRadioDefault5">
          Japan, Tokyo
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault6"
          value="&location=Madrid%2C%20Spain"
        />
        <label class="form-check-label" for="flexRadioDefault6">
          Spain, Madrid
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault7"
          value="&location=Vienna%2C%20Austria"
        />
        <label class="form-check-label" for="flexRadioDefault7">
          Austria, Vienna
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault8"
          value="&location=Bari%2C%20Italy"
        />
        <label class="form-check-label" for="flexRadioDefault8">
          Italy, Bari
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault9"
          value="&location=Trelew%2C%20Argentina"
        />
        <label class="form-check-label" for="flexRadioDefault9">
          Argentina, Trelew
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault10"
          value="&location=Toronto%2C%20Canada"
        />
        <label class="form-check-label" for="flexRadioDefault10">
          Canada, Toronto
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault11"
          value="&location=Lisbona%2C%20Portugal"
        />
        <label class="form-check-label" for="flexRadioDefault11">
          Portugal, Lisbona
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault12"
          value="&location=Paris%2C%20France"
        />
        <label class="form-check-label" for="flexRadioDefault12">
          France ,Paris
        </label>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-3 text-center">
      <button
        [disabled]="form.invalid"
        (click)="searchJob()"
        class="btn btn-primary"
      >
        SEARCH
      </button>
    </div>
  </div>
</form>
<div class="row d-flex justify-content-end mt-3 mb-2 me-2">
  <div class="col-6 text-center counter" *ngIf="showResult">
    <p id="count">
      Page <span class="count">{{ numPage$ }}</span> of
      <span class="count">{{ totPage$ }}</span> , offerte :
      <span class="count">{{ totalJob$ }}</span>
    </p>
  </div>
</div>
<div class="row d-flex justify-content-center mt-5">
  <div class="col-sm-10 text-center" id="result">
    <div class="table-responsive" *ngIf="showResult">
      <table class="table table-light table-hover">
        <thead>
          <tr>
            <th>COMPANY</th>
            <th>LEVEL</th>
            <th>LOCATION</th>
            <th>DATE</th>
            <th>DETAILS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of jobs" class="color-primary">
            <td>
              <a (click)="getCompany(job.company.id)" class="company">{{
                job.company.name
              }}</a>
            </td>
            <td>{{ job.levels[0].short_name }}</td>
            <td>{{ job.locations[0].name }}</td>
            <td>{{ job.publication_date | date }}</td>
            <td>
              <button
                class="btn btn-sm btn-primary"
                (click)="goToDetailPage(job.id)"
              >
                <fa-icon [icon]="faSquarePlus"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center mt-5">
  <div class="col-6 text-center">
    <div
      class="alert alert-danger text-center"
      role="alert"
      id="error-message"
    ></div>
  </div>
</div>
